body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
}

input {
    border: 1px solid #ccc;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
}

button {
    padding: 1em;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#output {
    max-width: 400px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    margin-top: 1em;
    background-color: #f9f9f9;
}
